:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  width: 128rem;
  margin: 0 auto;
  color: #3a3a3a;
}

a {
  color: #3a3a3a;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  transition: 0.5s;
  transform: scale(1.1);
}

.aws-btn {
  --button-default-height: 55px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 6px;
  --button-hover-pressure: 1;
  --transform-speed: 0.185s;
  --button-primary-color: #3a3a3a;
  --button-primary-color-dark: #141414;
  --button-primary-color-light: #fbfbfb;
  --button-primary-color-hover: #2d2d2d;
  --button-primary-color-active: #212121;
  --button-primary-border: 2px solid #3a3a3a;
  --button-secondary-color: #fbfbfb;
  --button-secondary-color-dark: #3a3a3a;
  --button-secondary-color-light: #3a3a3a;
  --button-secondary-color-hover: #eeeeee;
  --button-secondary-color-active: #e2e2e2;
  --button-secondary-border: 2px solid #3a3a3a;
  --button-anchor-color: #ffe727;
  --button-anchor-color-dark: #212121;
  --button-anchor-color-light: #97735d;
  --button-anchor-color-hover: #ffe727;
  --button-anchor-color-active: #ffe727;
  --button-anchor-border: 2px solid #876753;
  --button-danger-color: #733086;
  --button-danger-color-dark: #431c4e;
  --button-danger-color-light: #77cd38;
  --button-danger-color-hover: #6d2d7e;
  --button-danger-color-active: #632973;
  --button-danger-border: none;
}

/* custom scrollbar  */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* hide scrollbar  */
body::-webkit-scrollbar {
  display: none;
}

.react-select-container {
  width: 100%;
  margin-bottom: 4.5rem;
  z-index: 2;
}

.react-select-container-product {
  width: 85%;
  margin-bottom: 4.5rem;
  margin-top: 2rem;
  z-index: 3;
}

.save-unit-img {
  margin-top: -2.8rem;
  border: 1px solid #3a3a3a;
  background-color: #3a3a3a;
  border-radius: 50%;
}
